// Fonts
$base-font-family: sans-serif !default;
$reading-font-family: "Roboto", "Noto Sans KR", sans-serif !default;
$headline-font-family: "Roboto", "Noto Sans KR" sans-serif !default;
$code-font-family:  "Fira Code", monospace !default;
$handwriting-font-family: "Roboto", "Noto Sans KR" sans-serif !default;
$base-font-size:    18px !default;
$base-line-height:  1.5 !default;

// Layouts
$spacing-unit:      2rem !default;
$content-width:     1300px !default;
$header-height:     $base-font-size * 3;

$on-small:          600px !default;
$on-medium:         900px !default;
$on-large:          1300px !default;
